<app-title-header>{{ title }}</app-title-header>
<div class="w-full flex flex-row flex-wrap gap-4">
  @for(item of listFolders; track trackList){
  <div class="w-full md:w-[204px]">
    <app-card>
      <div header>
        <div class="w-full flex justify-between mb-3 py-2 px-2.5">
          <img [src]="item.icon" />
          <app-dropdown
            [id]="'folder' + item.name"
            [icon]="'assets/icons/dots.svg'"
            [hoverStyle]="true"
            [list]="listDropdown"
          ></app-dropdown>
        </div>
      </div>

      <div description>
        <div class="w-full py-2 px-2.5">
          <p class="text-sm text-white font-medium">{{ item.name }}</p>
          <p class="text-xs text-white text-opacity-50 mt-1">
            {{ item.description }} • {{ item.size }}
          </p>
        </div>
      </div>
    </app-card>
  </div>
  }
</div>
