<div class="w-full flex flex-row flex-wrap gap-4">
  @for(item of listFolders; track trackList){
  <app-card [addClass]="'md:min-w-[204px] !w-full'">
    <div header>
      <div class="w-full flex justify-between mb-3">
        <img [src]="item.icon" />
        <app-dropdown
          [icon]="'assets/icons/dots.svg'"
          [hoverStyle]="true"
          [list]="listDropdown"
        ></app-dropdown>
      </div>
    </div>

    <div description>
      <p class="text-sm text-white font-medium">{{ item.name }}</p>
      <p class="text-xs text-white text-opacity-50 mt-1">
        {{ item.description }} • {{ item.size }}
      </p>
    </div>
  </app-card>
  }
</div>
