<div
  class="w-full relative bg-blueMain border border-grayMain rounded-[10px] hover:bg-graySecondary relative"
>
  <div class="w-full">
    <ng-content select="[header]"></ng-content>
    <ng-content select="[description]"></ng-content>
  </div>

  <div
    class="w-full h-1.5 bg-white -bottom-10 bg-opacity-20 z-10"
    *ngIf="loader && percentage > 0"
  >
    <div
      [style.width]="getPercentage()"
      [style.background]="'#6611F5'"
      [style.height]="'5px'"
    ></div>
  </div>

  <div class="w-full border-t border-grayMain px-3 py-2.5" *ngIf="footer">
    <ng-content select="[footer]"></ng-content>
  </div>
</div>
