<div class="flex justify-end items-end relative dropdown-container">
  <div class="flex justify-between" id="icon">
    <div
      class="flex items-center justify-center hover:rounded-md cursor-pointer p-1.5 border border-transparent gap-1.5"
      (click)="toggle(this.id)"
      [ngClass]="activeDropdown ? getActive() : ''"
      [ngClass]="hoverStyle ? getHoverStyle() : ''"
    >
      <img [src]="icon" *ngIf="icon.length > 0" />
      <span
        *ngIf="label.length > 0"
        class="text-[15px] text-white font-normal text-opacity-50"
        >{{ label | translate }}</span
      >
    </div>
  </div>

  <div
    class="min-w-32 bg-blueMain top-8 rounded-[5px] border border-grayMain absolute !z-50"
    [ngClass]="activeDropdown ? '' : 'hidden'"
    id="dropdown"
    [appClickOutside]="activeDropdown"
    (outSideClick)="closeDropdown()"
  >
    <ul>
      @for(l of list; track trackList){
      <li
        class="text-base text-white hover:bg-graySecondary cursor-pointer text-opacity-70 px-4 py-4"
      >
        <a class="flex flex-row gap-2">
          <img [src]="l.icon" />
          <span>{{ l.label | translate }}</span></a
        >
      </li>
      }
    </ul>
  </div>
</div>
